Include KeyIds in secret created for AzureAdApplication

Hi 👋 At Kartverket, secrets created by Azurerator are used by Envoy, where support for private_key_jwk was recently introduced. When the client authenticates using private_key_jwk, some authorization servers require that the kid header is set (RFC 7515 Section 4.1.4). Including the keyids in the secret would make this transition easier for us.

The key ID is available in the JWK itself in the `kid` parameter:

```json
{
  "use": "sig",
  "kty": "RSA",
  "kid": "0VYeC82ixYehReiAVBJbNnlGr8o",
  "alg": "RS256",
  ...
}
```

Your client library of choice should be able to extract this from the JWK.

Ah, you're right 🌟 Sorry for the inconvenience!